/**
 * Pretendard - 앱 UI 전용 (사용자 등록 컴포넌트 미리보기에는 미적용)
 * public/fonts/pretendard/file/ 에서 서빙
 */
@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
    url('/fonts/pretendard/file/Pretendard-Light.woff2') format('woff2'),
    url('/fonts/pretendard/file/Pretendard-Light.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url('/fonts/pretendard/file/Pretendard-Regular.woff2') format('woff2'),
    url('/fonts/pretendard/file/Pretendard-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    url('/fonts/pretendard/file/Pretendard-Medium.woff2') format('woff2'),
    url('/fonts/pretendard/file/Pretendard-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src:
    url('/fonts/pretendard/file/Pretendard-SemiBold.woff2') format('woff2'),
    url('/fonts/pretendard/file/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    url('/fonts/pretendard/file/Pretendard-Bold.woff2') format('woff2'),
    url('/fonts/pretendard/file/Pretendard-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src:
    url('/fonts/pretendard/file/Pretendard-ExtraBold.woff2') format('woff2'),
    url('/fonts/pretendard/file/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src:
    url('/fonts/pretendard/file/Pretendard-Black.woff2') format('woff2'),
    url('/fonts/pretendard/file/Pretendard-Black.woff') format('woff');
}
